body .container {
  margin: 20px;
  padding: 20px;
  border: 1px solid whitesmoke;
}
.nav-link {
  margin: 0px 30px;
}
.breadcrumb-item {
  font-size: 15px;
}

li .list-group-item {
  font-size: 16px;
  border: 0;
}
.glyphicon {
  color: orange;
}
.col-9 .row {
  margin-left: 30px;
}
.card-item {
  margin: 20px 0 0 0;
  border: 1px solid whitesmoke;
}
.card-body {
  margin: 5px;
}
.pages {
  border-bottom: 1px solid whitesmoke;
}
.page {
  margin-left: 50%;
}
.subscribe {
  margin-left: 42%;
}

.subscribe .form-control,
.subscribe .btn {
  margin-top: 20px;
}
.footer {
  text-align: center;
  margin-top: 20px;
  margin-left: 20%;
}
.footer .follow {
  font-weight: bold;
  margin-right: 10px;
}
.footer p {
  margin-top: 20px;
  font-size: 12px;
}
